/* Reset -Minified */
*{margin:0;padding:0;border:0;}html{width:100%;overflow-x:hidden;font-family:"メイリオ","Meiryo,Verdana,Arial","ヒラギノ丸ゴ ProN W4","Lucida Grande","segoe UI",'Meiryo UI',"sans-serif";}body{width:100%;overflow-x:hidden;margin:0;padding:0;position:relative;}li{list-style:none;font-size:14px;color:#555;}a{text-decoration:none;font-size:12px;color:#999;}p{font-size:12px;color:#999;}img{width:100%;}

/* Common */
.container {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

h2 {
	margin-top: 30px;
	font-size: 26px;
	font-weight: normal;
}

.h2_sub {
	margin-bottom: 30px;
	font-size: 14px;
}

/* Header */
#header {
	height: 90px;
	border-bottom: 1px solid #ddd;
}

h1 {
	display: inline;
	position: absolute;
	left: 400px;
	top: 20px;
	width: 200px;
}

.h1_sub {
	float: left;
	width: 200px;
	margin-top: 4px;
}

.global_menu {
	float: left;
	margin-top: 35px;
}

.global_menu li {
	float: left;
	margin-right: 20px;
}

.global_menu li a {
	font-size: 14px;
	color: #333;
}

.user_menu {
	float: right;
	margin-top: 35px;
}

.user_menu li {
	float: left;
	margin-left: 20px;
}

.user_menu li a {
	font-size: 14px;
	color: #333;
}

/* Belt */
.belt {
	height: 40px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.breadcrumb {
	
}

.breadcrumb li {
	float: left;
	margin: 10px 10px 0 0;
}

.breadcrumb li:after {
	content: '>';
	margin-left: 10px;
	color: #999;
}

.breadcrumb li:last-child:after {
	content: none;
}

/* Footer */
#footer {
	margin-top: 30px;
	height: 70px;
	border-top: 1px solid #eee;
}

/* Curators */
.curators li {
	float: left;
	width: 215px;
	padding: 10px;
	margin-right: 20px;
	border-bottom: 1px solid #ddd;
}

.curators li:nth-child(4n) {
	margin-right: 0;
}

.curators li:hover {
	background: #eee;
}

.curators .thumb {
	float: left;
	width: 50px;
	border-radius: 500%;
	-moz-border-radius: 500%;
	-webkit-border-radius: 500%;
	-o-border-radius: 500%;
	-ms-border-radius: 500%;
}