/* Reset -Minified */
*{margin:0;padding:0;border:0;}html{width:100%;overflow-x:hidden;font-family:"メイリオ","Meiryo,Verdana,Arial","ヒラギノ丸ゴ ProN W4","Lucida Grande","segoe UI",'Meiryo UI',"sans-serif";}body{width:100%;overflow-x:hidden;margin:0;padding:0;position:relative;}li{list-style:none;font-size:14px;color:#555;}a{text-decoration:none;font-size:12px;color:#999;}p{font-size:12px;color:#999;}img{width:100%;}

/* Common */
.container {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

h2 {
	margin-top: 30px;
	font-size: 26px;
	font-weight: normal;
}

.h2_sub {
	margin-bottom: 30px;
	font-size: 14px;
}

/* Header */
#header {
	height: 90px;
	border-bottom: 1px solid #ddd;
}

h1 {
	display: inline;
	position: absolute;
	left: 400px;
	top: 20px;
	width: 200px;
}

.h1_sub {
	float: left;
	width: 200px;
	margin-top: 4px;
}

.global_menu {
	float: left;
	margin-top: 35px;
}

.global_menu li {
	float: left;
	margin-right: 20px;
}

.global_menu li a {
	font-size: 13px;
	color: #333;
}

.global_menu li a:hover {
	text-decoration: underline;
}

.user_menu {
	float: right;
	margin-top: 35px;
}

.user_menu img {
	float: left;
	width: 30px;
	margin: -7px 3px 0 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

.user_menu li {
	float: left;
	margin-left: 20px;
}

.user_menu li a {
	font-size: 13px;
	color: #333;
}

.user_menu li a:hover {
	text-decoration: underline;
}

/* Belt */
.belt {
	height: 40px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.breadcrumb li {
	float: left;
	margin: 10px 10px 0 0;
}

.breadcrumb li:after {
	content: '>';
	margin-left: 10px;
	color: #999;
}

.breadcrumb li:last-child:after {
	content: none;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

/* Footer */
#footer {
	margin-top: 30px;
	height: 70px;
	border-top: 1px solid #eee;
}

/* Curators */
.curators li {
	float: left;
	width: 215px;
	padding: 10px;
	margin-right: 20px;
	border-bottom: 1px solid #ddd;
}

.curators li:nth-child(4n) {
	margin-right: 0;
}

.curators li:hover {
	background: #eee;
}

.curators .thumb {
	float: left;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

/* Posts */
.belt_top {
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.random_posts {
	background: white;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #ddd;
}

.random_posts li {
	float: left;
	width: 316px;
	margin-right: 15px;
}

.random_posts li:last-child {
	margin-right: 0;
}

.random_posts_thumb {
	overflow: hidden;
}

.random_posts_title {
	font-size: 18px;
	color: #333;
	margin: 10px 0;
	height: 53px;
	line-height: 1.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.random_posts_comment {
	font-size: 13px;
	color: #999;
	height: 35px;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.top_left {
	float: left;
	width: 700px;
	margin-right: 15px;
}

.top_title_new {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.new_posts {
}

.new_posts li {
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.new_posts_thumb {
	float: left;
	width: 150px;
	margin-right: 20px;
	overflow: hidden;
}

.new_posts_title {
	font-size: 18px;
	color: #333;
	margin: 10px 0 10px 0;
	line-height: 1.4em;
	overflow: hidden;
}

.new_posts_comment {
	font-size: 14px;
	color: #999;
	height: 53px;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}




.top_right {
	float: left;
	width: 285px;
}

.top_title_popular {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

/* Posts View */
.view_left {
	float: left;
	width: 699px;
	padding-right: 15px;
	border-right: 1px solid #eee;
}

.view_head {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.view_head_thumb {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.view_head_title {
	margin: 5px 0;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.4em;
}

.view_head_comment {
	margin-left: 110px;
	font-size: 14px;
	word-wrap: break-word;
}

.view_recipe {
	margin-top: 40px;
}

.view_recipe li {
	margin-bottom: 40px; 
}

.view_recipe_title {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.2em;
	padding-bottom: 5px;
	border-bottom: 3px solid #fc7c79;
}

.view_recipe_image {
	display: block;
	width: auto;
	height: 320px;
	margin: 20px 0;
}

.view_recipe_description {
	position: relative;
	background: #eee;
	padding: 1em 1em 1em 3em;
	font-size: 15px;
	color: #555;
}

.view_recipe_description:before {
	content: "“";
	font-size: 600%;
	line-height: 1em;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	color: #999;
	position: absolute;
	left: 5px;
	top: 5px;
}

.view_right {
	float: left;
	width: 285px;
}

.view_auther {
	padding: 20px 0 20px 15px;
	border-bottom: 1px solid #eee;
}

.view_auther_thumb {
	float: left;
	width: 60px;
	margin-right: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

.view_auther_name {
	font-size: 16px;
}

.view_auther_description {
	margin-left: 70px;
}



/* Posts Create */
.edit_article {
	overflow: hidden;
	margin-bottom: 50px;
	border: 1px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.step {
	font-size: 16px;
	color: #555;
	margin: 5px 0;
}

.step span {
	background: #f1c40f;
	color: white;
	margin-right: 3px;
	padding: 3px 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.select_article {
	float: left;
	width: 716px;
	border-right: 1px solid #eee;
}

.select_article_head {
	height: 40px;
	background: #eee;
}

#ArticleSearch {
	float: left;
	width: 240px;
	font-size: 12px;
	margin: 7px 10px;
	padding: 5px;
}

.page_manage {
	float: left;
	width: 100px;
	margin: 8px 0;
	text-align: center;
}

.page_num {
	display: inline;
}

.select_article_count {
	float: right;
	margin: 5px 20px;
	font-size: 13px;
	color: #555;
}

.select_article_count span {
	color: #f39c12;
	font-size: 20px;
}

.select_article_body {
	height: 450px;
	overflow-y: scroll;
}

.select_article_none {
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 210px 0;
}

.select_article_list li {
	cursor: pointer;
	float: left;
	width: 216px;
	height: 60px;
	padding: 8px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}

.select_article_list li:nth-child(3n) {
	margin-right: 0;
}

.select_article_list li:hover {
	background: #eee;
}

.select_article_list li img {
	float: left;
	width: 80px;
	margin-right: 3px;
}

.select_article_list li a {
	color: #3498db;
}

.select_article_list li p {
	font-size: 12px;
	line-height: 1.1em;
	color: #333;
}

.select_article_list li a:hover {
	text-decoration: underline;
}

.sort_article {
	float: left;
	width: 280px;
}

.sort_article_title {
	padding: 9px 10px;
	font-size: 14px;
	color: #555;
	border-bottom: 1px solid #eee;
}

.sort_article_none {
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 210px 0;
}

.sort_article_list {
	cursor: pointer;
}

.sort_article_list li {
	position: relative;
	height: 31px;
	padding: 5px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.sort_article_list img {
	float: left;
	width: 40px;
	height: 24px;
	margin-right: 5px;
}

.sort_article_list p {
	font-size: 14px;
	line-height: 1.1em;
	color: #333;
}

.sort_article_list i {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
}

.sort_article_list li:hover > i {
	display: inline;
}

.edit_info {
	float: left;
	width: 600px;
}

.edit_thumb {
	float: left;
	width: 400px;
}

.label {
	font-size: 14px;
	margin: 15px 0 2px 0;
}

.edit_thumb_box {
	height: 220px;
	padding: 5px;
	overflow-y: scroll;
	border: 1px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.edit_thumb_none {
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 100px 0;
}

.edit_thumb_list {
	overflow: hidden;
}

.edit_thumb_list li img {
	float: left;
	width: 84px;
	height: 62px;
	margin: 0 5px 5px 0;
	overflow: hidden;
	border: 4px solid transparent;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.edit_thumb_list li img.selected {
	border: 4px solid #3498db;
}

.edit_foot {
	float: left;
	width: 100%;
	margin-top: 50px;
	padding: 20px;
	overflow: hidden;
	background: #eee;
}

.edit_foot_sub {
	float: left;
	font-size: 16px;
	color: #555;
	margin: 15px;
}

.edit_submit {
	cursor: pointer;
	float: right;
	width: 240px;
	margin-right: 40px;
	padding: 15px 0;
	text-align: center;
	background: #e74c3c;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.edit_submit:hover {
	background: #95a5a6;
}

#PostTitle {
	width: 500px;
	padding: 7px 10px;
	border: 1px solid #eee;
	font-size: 14px;
}

#PostComment {
	width: 500px;
	height: 100px;
	padding: 7px 10px;
	border: 1px solid #eee;
	font-size: 14px;
}